.top{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content:flex-start;
  
}

.top-1{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content:flex-start;
}

.top-2{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
}

.top-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 10px;   */
}